<launch>
    <arg name="use_rviz" default="true" doc="Controls whether rviz is launched-- default true"/>

    <node pkg="turtlebot3_teleop" name="turtlebot3_teleop_keyboard" type="turtlebot3_teleop_key" output="screen"/>
    
    <node pkg="rigid2d" type="odometer" name="odometer" output="screen" />

    <node pkg="rigid2d" type="fake_turtle" name="fake_turtle"/>

    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher"/>

    <node name="rviz" pkg="rviz" args="-d $(find nuturtle_description)/config/model.rviz -f odom" type="rviz"/>

    <param name="robot_description" command="xacro '$(find nuturtle_description)/urdf/turtlebot3_burger.urdf.xacro'"/>
    <param name="wheel_base" type="double" value="0.16"/>
    <param name="wheel_radius" type="double" value="0.033"/>
    <param name="odom_frame_id" type="string" value="odom"/>
    <param name="body_frame_id" type="string" value="base_footprint"/>
    <param name="left_wheel_joint" type="string" value="wheel_left_joint"/>
    <param name="right_wheel_joint" type="string" value="wheel_right_joint"/>
    <param name="slip_min" type="double" value="0"/>
    <param name="slip_max" type="double" value="1"/>
    <param name="twist_noise" type="double" value="1"/>

    <param name="tube_radius" type="double" value="0.0762"/>
    <rosparam name="tube1_location">[0.5, 0.5]</rosparam>
    <rosparam name="tube2_location">[-0.5, -0.5]</rosparam>
    <param name="world_frame_id" type="string" value="world"/>
    <param name="turtle_frame_id" type="string" value="turtle"/>

    <param name="max_range" type="double" value="2.0"/>

    <rosparam command="load" file="$(find nuturtle_description)/config/diff_params.yaml"/>
</launch>