<launch>
    <node pkg="trect" type="turtle_rect" name="turtle_rect">
    </node>

    <param name="max_xdot" type="double" value="2.0" />
    <param name="max_wdot" type="double" value="1.0" />
    <param name="frequency" type="int" value="100" />

    <node pkg="turtlesim" name="sim" type="turtlesim_node"/>
</launch>