<launch>
    <arg name="robot" default="localhost" doc="default localhost, meaning the node runs on the local machine"/>

    <group if="$(eval arg('robot')=='local')">
    <machine name="turtlebot" address="$(arg robot)" env-loader="/home/ubuntu/loader.sh" user="ubuntu"/>
    </group>
    
    <group unless="$(eval arg('robot')=='local')">
    <node machine="turtlebot" name="serial_node" pkg="rosserial_python" type="serial_node.py">
        <param name="port" value="/dev/ttyACM0"/>
        <param name="baud" value="115200"/>
    </node>
    </group>

</launch>