<launch>
    <arg name="robot" default="localhost" doc="default localhost, meaning the node runs on the local machine"/>

    <group if="$(eval arg('robot')=='localhost')">
        <node pkg="nuturtlesim" name="tube_world" type="tube_world" output="screen"/>
        <node pkg="nuslam" name="slam" type="slam" output="screen"/>
        <node pkg="turtlebot3_teleop" name="turtlebot3_teleop_keyboard" type="turtlebot3_teleop_key" output="screen"/>
    </group>

    <group unless="$(eval arg('robot')=='localhost')">
        <node pkg="turtlebot3_teleop" name="turtlebot3_teleop_keyboard" type="turtlebot3_teleop_key" output="screen"/>
    </group>

    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher"/>

    <node pkg="rviz" name="rviz" args="-d $(find nuslam)/config/model.rviz -f world" type="rviz"/>

    <param name="robot_description" command="xacro '$(find nuturtle_description)/urdf/turtlebot3_burger.urdf.xacro'"/>

    <rosparam command="load" file="$(find nuturtle_description)/config/diff_params.yaml"/> 
    <rosparam command="load" file="$(find nuturtlesim)/config/frame_params.yaml"/>
    <rosparam command="load" file="$(find nuturtlesim)/config/tube_world_params.yaml"/>
    <rosparam command="load" file="$(find nuslam)/config/slam_params.yaml"/>
</launch>