<launch>
    <arg name="robot" default="localhost" doc="default localhost, meaning the node runs on the local machine"/>
    <arg name="real" default="false" doc="if true (message from real sensor) if false (message from fake sensor)"/>

    <param name="robot_description" command="xacro '$(find nuturtle_description)/urdf/turtlebot3_burger.urdf.xacro'"/>

    <group if="$(eval arg('robot')=='localhost')">
        <group if="$(eval arg('real')=='true')">
        </group>

        <group unless="$(eval arg('real')=='true')">
            <node name="landmarks" pkg="nuslam" type="landmarks" output="screen"/>
            <node name="tube_world" pkg="nuturtlesim" type="tube_world" output="screen"/>
            <node name="turtlebot3_teleop_keyboard" pkg="turtlebot3_teleop" type="turtlebot3_teleop_key" output="screen"/>
            <!-- <node name="odometer" pkg="rigid2d" type="odometer" output="screen"/> -->
            <node name="slam" pkg="nuslam" type="slam" output="screen"/>
            <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
            <node name="rviz" pkg="rviz" type="rviz" args="-d $(find nuslam)/config/slam_model.rviz -f world"/>
        </group>
    </group>

    <group unless="$(eval arg('robot')=='localhost')">
    </group>

    <rosparam command="load" file="$(find nuturtle_description)/config/diff_params.yaml"/> 
    <rosparam command="load" file="$(find nuturtlesim)/config/frame_params.yaml"/>
    <rosparam command="load" file="$(find nuturtlesim)/config/tube_world_params.yaml"/>
    <rosparam command="load" file="$(find nuturtlesim)/config/scan_params.yaml"/>
    <rosparam command="load" file="$(find nuslam)/config/slam_params.yaml"/>
</launch>