<launch>
    <arg name="use_rviz" default="true"/>

    <rosparam command="load" file="$(find nuturtle_description)/config/diff_params.yaml"/>

    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
    <node name="rviz" pkg="rviz" type="rviz" />

</launch>